.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:focus {
      ~ {
        .control_indicator {
          background: #cccccc;
        }
      }
    }
    &:checked {
      ~ {
        .control_indicator {
          background: #63c6ef;
          &:after {
            display: block;
          }
        }
      }
      &:focus {
        ~ {
          .control_indicator {
            background: #63c6ef;
          }
        }
      }
    }
    &:disabled {
      ~ {
        .control_indicator {
          background: #e6e6e6;
          opacity: 0.6;
          pointer-events: none;
        }
      }
    }
  }
  &:hover {
    input {
      ~ {
        .control_indicator {
          background: #63c6ef;
        }
      }
      &:not([disabled]) {
        &:checked {
          ~ {
            .control_indicator {
              background: #63c6ef;
            }
          }
        }
      }
    }
  }
}
.control_indicator {
  position: absolute;
  top: 6px;
  left: 0;
  height: 16px;
  width: 16px;
  background: #ffffff;
  border: 1px solid #63c6ef;
  border-radius: undefinedpx;
  &:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
  }
}
.control-radio {
  .control_indicator {
    border-radius: 50%;
    &:after {
      left: 4px;
      top: 4px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #ffffff;
      transition: background 250ms;
    }
  }
  input {
    &:disabled {
      ~ {
        .control_indicator {
          &:after {
            background: #7b7b7b;
          }
        }
      }
    }
  }
}
