@import 'fonts';
@import 'custom-inputs';

// colors
$blue: #172540;
$lightblue: #63c6ef;
$white: #ffffff;
$grey: #5f5c5c;
$lightgrey: #ebebeb;
$black: #000000;
// ------------

body {
  margin: 0;
  font-family: 'Helvetica Neue LT Std', Helvetica, Arial, sans-serif;
  color: $grey;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  min-height: 100vh;
  height: auto;
}

.button {
  display: inline-block;
  font-weight: 300;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  padding: 0.75rem 1.5rem;
  width: 100%;
  max-width: 320px;
  text-decoration: none;
  border-radius: 12rem;
  font-size: 0.875rem;
  transition: background-color 200ms ease-out;

  &:hover {
    color: $blue;
    background-color: $white;
    text-decoration: none;
    outline: none;
  }
}

.title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  color: $white;
  margin-bottom: 1.5rem;
  width: 100%;

  &.xl {
    font-size: 1.75rem;
  }

  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}

.subtitle {
  font-family: 'Abel', Arial, sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  color: $white;
  width: 100%;

  @media (min-width: 768px) {
    font-size: 5rem;
  }
}

.form-wrapper {
  color: #808080;

  label {
    font-size: 0.85rem;
    font-weight: 300;
  }

  input,
  button[type='submit'],
  select,
  .select2js,
  textarea {
    width: 100%;
    font-weight: 300;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    border: none;
    color: $black;
    background-color: $lightgrey;
    text-align: center;
    font-size: 0.75rem;
    outline: none;
    appearance: none;
    transition: box-shadow 200ms ease-out;

    &:focus {
      box-shadow: 0 0 9px -3px $blue;
    }

    &::placeholder {
      text-align: center;
      font-size: 0.85rem;
      color: $black;
    }
  }

  select,
  .select2js {
    background-image: url('../img/arrow-down-select.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5rem) center;

    &::-ms-expand {
      display: none; /* remove default arrow on ie10 and ie11 */
    }

    .select2-selection__arrow {
      display: none;
    }
  }

  button[type='submit'] {
    color: $white;
    background-color: $lightblue;
    transition: background-color 200ms ease-out, box-shadow 200ms ease-out;

    &:hover {
      background-color: $blue;
      box-shadow: 0 0 9px -3px $blue;
    }
  }

  input[type='radio'] {
    border-color: $lightblue;
  }
}

.select2-results {
  background: $lightgrey;
  box-shadow: 0 6px 9px -6px $blue;
  border-radius: 0 0 1rem 1rem;
  overflow: auto;
  border: none;
  outline: none;
}

.select2-dropdown {
  border: none;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $lightblue;
}

.select2-results__option--selectable {
  transition: all 200ms ease-out;
}

.g-recaptcha {
  & > div {
    margin: auto;
  }
}
//-------------------

#home {
  text-align: center;
  background-color: #172540;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  .image {
    background-image: url('../img/home-header-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    overflow: hidden;
  }

  .content {
    height: 100%;
    flex: 0 0 60vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      padding: 3rem 4rem;
    }

    @media (min-width: 1024px) {
      padding: 5rem 8rem;
    }

    @media (min-width: 1440px) {
      padding: 4rem 20rem;
    }

    h1 {
      text-indent: 999%;
      line-height: 0;
      overflow: hidden;
      margin-bottom: 2rem;
      width: 100%;
    }

    nav {
      width: 100%;

      ul {
        display: grid;
        gap: 1.5rem;

        @media (min-width: 768px) {
          // grid-template-columns: repeat(3, 1fr);
          display: flex;
          justify-content: center;
          align-items: center;

          position: relative;

          li {
            margin: 0 1rem;
          }
        }

        .login-button {
          display: block;
          text-indent: 999%;
          line-height: 0;
          overflow: hidden;
          width: 150px;
          margin-left: auto;
          margin-right: -2rem;
          margin-top: 2rem;

          @media (min-width: 768px) {
            position: absolute;
            right: -2rem;
            top: 100%;
          }

          @media (min-width: 1024px) {
            right: -6rem;
          }

          @media (min-width: 1280px) {
            width: 200px;
          }

          @media (min-width: 1440px) {
            right: -18rem;
          }
        }
      }
    }

    .icon-arrow {
      display: none;

      @media (min-width: 768px) {
        display: block;
        position: absolute;
        bottom: 64px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
        animation: bounce 600ms alternate infinite;
      }

      @media (min-width: 1280px) {
        width: 32px;
      }

      @keyframes bounce {
        from {
          transform: translate(-50%, 0rem);
        }

        to {
          transform: translate(-50%, 0.5rem);
        }
      }
    }
  }
}

#conoce-mas {
  text-align: center;

  .mision {
    background-image: url('../img/mision-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      min-height: 70vh;
      height: 1px;
      padding: 3rem 6rem;
    }

    @media (min-width: 1280px) {
      padding: 3rem 10rem;
    }

    @media (min-width: 1440px) {
      padding: 3rem 20rem;
    }
  }

  .acerca-de-wellcorp {
    background-color: $white;

    .content {
      padding: 2rem 1rem;

      @media (min-width: 768px) {
        padding: 2rem 6rem;
      }

      @media (min-width: 1024px) {
        padding: 2rem 10rem;
      }

      @media (min-width: 1280px) {
        padding: 2rem 10rem;
      }

      @media (min-width: 1440px) {
        padding: 2rem 20rem;
      }
    }

    .title {
      color: $blue;
    }

    .video {
      background-color: $lightgrey;
      padding: 2rem;

      @media (min-width: 768px) {
        padding: 4rem;
      }

      @media (min-width: 1280px) {
        padding: 4rem 8rem;
      }

      @media (min-width: 1440px) {
        padding: 4rem 20rem;
      }
    }
  }

  .nuestras-soluciones {
    background-image: url('../img/soluciones-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      padding: 3rem 8rem;
      min-height: 70vh;
      height: 1px;
    }

    @media (min-width: 1280px) {
      padding: 3rem 10rem;
    }

    @media (min-width: 1440px) {
      padding: 3rem 20rem;
    }
  }

  .vitality {
    padding: 3rem 1rem;

    @media (min-width: 768px) {
      padding: 3rem 6rem;
    }

    @media (min-width: 1280px) {
      padding: 3rem 10rem;
    }

    @media (min-width: 1440px) {
      padding: 3rem 20rem;
    }

    img {
      max-width: 80%;
      margin-bottom: 1rem;
    }
  }

  .datos {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $blue;
    padding: 2rem 0rem;

    @media (min-width: 768px) {
      padding: 2rem 6rem;
    }

    @media (min-width: 1280px) {
      padding: 3rem 10rem;
    }

    .dato {
      flex: 1;
      margin: 0.25rem;

      .value {
        font-size: 3.5rem;
        color: $lightblue;
        font-weight: 600;

        @media (min-width: 768px) {
          font-size: 5rem;
        }

        @media (min-width: 1280px) {
          font-size: 8rem;
        }
      }

      .title {
        font-weight: 300;
        font-size: 0.65rem;
        line-height: 1.25;

        @media (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }

  .tus-beneficios {
    background-color: $lightblue;
    padding: 3rem 1rem;

    @media (min-width: 768px) {
      padding: 3rem 4rem;
    }

    @media (min-width: 1024px) {
      padding: 3rem 10rem;
    }

    .subtitle {
      color: $blue;
    }

    .benefits {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      .benefit {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .icon {
          margin-bottom: 0.5rem;

          @media (min-width: 1024px) {
            img {
              max-width: 12rem;
            }
          }
        }

        .title {
          color: $blue;
          font-weight: 300;
          font-size: 0.65rem;
          line-height: 1.25;
          margin: 1rem auto;

          @media (min-width: 768px) {
            font-size: 0.85rem;
          }

          @media (min-width: 1024px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

#estima-beneficios {
  padding: 3rem 2rem;
  text-align: center;
  background-color: lightgrey;
  background-image: url('../img/pattern-01.jpeg');
  background-repeat: repeat;

  @media (min-width: 768px) {
    min-height: auto;
    padding: 3rem 8rem;
  }

  @media (min-width: 1024px) {
    padding: 3rem 10rem;
  }

  @media (min-width: 1440px) {
    padding: 3rem 20rem;
  }

  .title {
    color: $blue;
  }

  .subtitle {
    color: $lightblue;
  }

  .copy {
    @media (min-width: 1024px) {
      font-size: 1.2rem;
    }
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
    margin: 2rem auto;
    max-width: 720px;

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 3rem;
      grid-template-areas:
        'input1 icon'
        'input2 icon'
        'input3 icon'
        'input4 icon'
        'input5 icon'
        'input6 captcha'
        'submit captcha';
      gap: 0 0.5rem;

      @for $i from 1 through 6 {
        input:nth-of-type(#{$i}) {
          grid-area: input#{$i};
          margin-right: 0.5rem;
        }
      }

      .g-recaptcha {
        grid-area: captcha;
      }

      .icon {
        grid-area: icon;
      }

      button[type='submit'] {
        grid-area: submit;
      }
    }

    & > * {
      margin-bottom: 0.5rem;
    }

    .icon {
      max-width: 96px;

      @media (min-width: 1024px) {
        max-width: 50%;
      }
    }
  }
}

#noticias {
  display: none;

  background-color: $lightgrey;
  padding: 3rem 1rem;
  text-align: center;

  @media (min-width: 768px) {
    padding: 3rem 3rem;
  }

  @media (min-width: 1280px) {
    padding: 3rem 8rem;
  }

  @media (min-width: 1440px) {
    padding: 3rem 12rem;
  }

  .title {
    color: $lightblue;
  }

  .subtitle {
    color: $blue;
  }

  .news-list {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    text-align: left;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(300px, auto);
      grid-template-areas:
        'main main main'
        'news2 news3 news4';

      @for $i from 2 through 4 {
        .news:nth-child(#{$i}) {
          grid-area: news#{$i};
        }
      }

      .news {
        &:first-child {
          grid-area: main;
          padding: 0;

          a {
            display: flex;

            .image {
              width: 66.66%;
              height: 100%;
            }

            .body {
              width: 33.33%;

              .title {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }

    .news {
      background-color: $white;
      padding: 1rem;

      a {
        text-decoration: none;
      }

      .image {
        height: 10rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .body {
        padding: 1rem;
      }

      .category {
        font-size: 0.84rem;
        color: $black;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;

        &::before {
          content: '';
          height: 2px;
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $black;
        }
      }

      .title {
        color: $black;
        font-size: 1.4rem;
      }

      .excerpt {
        color: $black;
      }
    }
  }
}

#contactanos {
  text-align: center;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 10vh;

  & > * {
    flex: 1;
  }

  .content {
    padding: 3rem 1rem;
    background-image: url('../img/contactanos-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
      padding: 3rem 6rem;
    }

    @media (min-width: 1280px) {
      padding: 3rem 10rem;
    }
  }

  .partnership {
    background-color: $blue;
    padding: 3rem 1rem;

    @media (min-width: 768px) {
      font-size: 1.4rem;
    }

    @media (min-width: 768px) {
      padding: 3rem 6rem;
    }

    .icon {
      width: 75%;
      max-width: 320px;
      margin: 1.5rem auto;
    }
  }
}

#sumate {
  padding: 3rem 2rem 0;
  text-align: center;
  background-color: lightgrey;
  position: relative;
  background-image: url('../img/pattern-01.jpeg');
  background-repeat: repeat;
  min-height: auto;

  @media (min-width: 768px) {
    padding: 3rem 8rem 0;
  }

  @media (min-width: 1024px) {
    padding: 3rem 10rem 0;
  }

  @media (min-width: 1440px) {
    padding: 3rem 30rem 0;
  }

  .title {
    color: $lightblue;
  }

  .subtitle {
    color: $blue;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;

    & > * {
      margin-bottom: 0.5rem;
    }

    @media (min-width: 1024px) {
      margin: 2rem auto;
      max-width: 720px;
      flex-flow: row wrap;

      .programType {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
          margin: 0 1rem;
        }
      }

      & > input {
        width: calc(50% - 0.66%);
        margin: 0.66% auto;

        &:nth-last-of-type(-n + 3) {
          width: 33%;
        }

        &.half {
          width: calc(50% - 0.66%);
        }
      }

      .g-recaptcha {
        width: 100%;
        padding: 0.5rem 0;
      }

      button[type='submit'] {
        width: 16rem;
        margin: 0.66% 0;
      }
    }
  }

  .icon {
    width: 50%;
    max-width: 320px;

    @media (min-width: 768px) {
      max-width: 220px;
    }
  }
}

footer {
  padding: 1rem 3rem;
  text-align: center;
  background-color: $lightblue;
  color: $white;
  font-weight: 300;
  font-size: 0.825rem;

  @media (min-width: 768px) {
    padding: 1rem 6rem;
  }

  .phone {
    text-decoration: none;
    color: $blue;
    font-size: 1.8rem;
    font-family: 'Abel', Arial, sans-serif;
    margin-bottom: 1rem;

    @media (min-width: 1440px) {
      font-size: 2.5rem;
    }
  }

  .social-links {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 768px) {
      max-width: 320px;
      margin: auto;
    }

    .social-network {
      flex: 1;
      padding: 0.5rem;

      &:last-child {
        flex-grow: 2;
      }
    }
  }

  .privacy-policy {
    display: inline-block;
    text-decoration: none;
    color: $white;
    font-size: 0.67rem;
    margin: 1rem auto;
  }
}

// FORM
.form-calculator {
  text-align: center;
  padding-bottom: 2rem;

  header {
    background-color: $lightgrey;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .isologo {
      margin-bottom: 1rem;
    }

    .title {
      color: $lightblue;
      margin: 0;
    }
  }

  .sectionHeader {
    background-color: $lightgrey;
    color: $blue;
    padding: 1rem 0;
    font-size: 1.6rem;
    // margin: 0 -1rem;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // display: grid;
    // gap: 1rem;
    padding: 0;

    & > * {
      margin: 0 auto 0.5rem;

      &:not(.sectionHeader) {
        max-width: 95vw;

        @media (min-width: 768px) {
          max-width: 70vw;
        }

        @media (min-width: 1024px) {
          max-width: 60vw;
        }

        @media (min-width: 1440px) {
          max-width: 40vw;
        }
      }
    }

    input,
    select,
    .select2js,
    textarea {
      width: 100%;
      height: auto;
      text-align: center;
      text-align-last: center;
      font-size: 0.75rem;

      @media (min-width: 1024px) {
        font-size: 1rem;
      }
    }

    textarea {
      min-height: 8rem;
      text-align: left;
      text-align-last: left;
      font-size: 0.825rem;

      @media (min-width: 1024px) {
        font-size: 1rem;
      }
    }

    .title {
      color: $blue;
      margin: 0.5rem auto;
    }

    .group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &.genero {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        p {
          width: 100% !important;
        }

        input,
        label {
          width: 45% !important;
          margin: 0 0.5rem;
          text-align: center;
        }
      }

      & > * {
        width: 50% !important;
        margin: 0 0.5rem;
      }

      label {
        text-align: right;
        font-size: 0.825rem;
        font-weight: 700;
        margin: 0;

        @media (min-width: 1024px) {
          font-size: 1rem;
        }
      }
    }
  }

  .button {
    background-color: $white;
    color: $lightblue;
    border-color: $lightblue;
  }

  .button,
  button[type='submit'] {
    width: 35vw;
    max-width: 200px !important;
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1;

    @media (min-width: 768px) {
      width: 25vw;
    }
  }
}

.modal {
  text-align: center;
}

// ROI PDF
.roi-pdf {
  text-align: center;

  p {
    margin: 0;
  }

  .header {
    // height: 30vh;

    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   object-position: center;
    // }
  }

  .datos {
    background-color: $blue;
    padding: 3rem;
    font-weight: 200;
    color: $white;
    font-size: 1.6rem;

    span {
      font-weight: 500;
    }
  }

  .wellcorp-vitality {
    padding: 3rem;
    background-image: url('../img/pattern-01.jpeg');

    img {
      margin: 1rem auto;
    }

    p {
      font-weight: 700;
      color: $blue;
      font-size: 2rem;
      margin: 1rem auto;

      &:last-child {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }

  .informacion {
    background-color: $grey;
    padding: 3rem;
    color: $white;
    font-size: 2rem;
    font-weight: 700;

    p:first-child {
      color: $lightblue;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  .beneficios {
    padding: 3rem;
    background-image: url('../img/pattern-01.jpeg');
    color: $blue;
    font-weight: 700;

    p {
      font-size: 1.6rem;
    }

    .beneficios-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      max-width: 1280px;
      margin: auto;
      margin-top: 3rem;

      .beneficio {
        width: 33%;
        margin: 0 1rem;

        .valor {
          background-color: $grey;
          color: $white;
          border-radius: 2rem;
          font-size: 1.6rem;
          padding: 0.5rem 1rem;
        }

        .titulo {
          margin: 1rem auto;
          font-size: 1.2rem;
        }
      }
    }
  }

  .mensaje {
    background-color: $lightblue;
    padding: 3rem;
    color: $white;
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .fecha-cambio {
    background-color: $grey;
    font-size: 2rem;
    font-weight: 300;
    color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }

  .footer {
    font-size: 0.85rem;
    color: $blue;
    padding: 1rem;
    p {
      margin: 1rem;
    }
  }
}
